---
Checks: -*,bugprone-*,cert-*,clang-analyzer-*,concurrency-*,
  cppcoreguidelines-*,fuchsia-*,google-*,hicpp-*,llvm-*,
  misc-*,modernize-*,performance-*,readability-*,
  -llvm-header-guard,-modernize-use-trailing-return-type,
  -fuchsia-default-arguments-calls,-readability-identifier-length,
  -hicpp-braces-around-statements,-readability-braces-around-statements
  -fuchsia-statically-constructed-objects,-cert-err58-cpp
HeaderFilterRegex: ^((?!/lib/).)*(src|include)/((?!/lib/).)*$
UseColor: true
CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantPrefix: k
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.EnumConstantPrefix: k
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
...

