[submodule "units"]
	path = extern/units
	url = git@github.com:nholthaus/units.git
[submodule "extern/stm32-cmake"]
	path = extern/stm32-cmake
	url = git@github.com:ObKo/stm32-cmake.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "STM32CubeH7"]
	path = extern/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "extern/x-cube-freertos"]
	path = extern/x-cube-freertos
	url = https://github.com/STMicroelectronics/x-cube-freertos.git
